* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(18, 255, 196);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    background-color: #14213d;
    margin: 10px auto;
    width: 300px;
    height: 415px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.imgBx {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.names {
    margin-top: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.names h1 {
    font-size: 25px;
}

.names p {
    font-size: 18px;
    color: rgb(18, 255, 196);
}

.icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.icons .icon {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #14213d;
}

.icons .icon:hover {
    margin-top: -15px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.skills {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    color: white;
    gap: 15px;
}

.skills .details {
    width: 80%;
}

.skills .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line {
    width: 0%;
    height: 20px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

button{
    padding: 14px 80px;
}

#js {
    animation: js 6s 0s forwards 1;
}

